@font-face {
  font-family: 'Euclid Circular A';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/Euclid\ Circular\ A\ Light.ttf') format('truetype');
}

:root {
  --background-color: #1E1E1E;
  --text-color: #FFF;

  --black: #000;
  --white: #FFF;

  --page-width: 18.75rem;
  --page-height: 28.125rem;

  --container-padding: 0.75rem;
}

* {
  box-sizing: border-box;
  font-family: 'Euclid Circular A', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Euclid Circular A', sans-serif;
}

.divider {
  opacity: 0.1;
  border: 1px solid var(--white);
  margin-left: calc(-1 * var(--container-padding));
  margin-right: calc(-1 * var(--container-padding));
}

#app {
  width: var(--page-width);
  height: var(--page-height);
  background: var(--background-color);
  color: var(--text-color);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
